*{
    /* outline: red solid 1px; */
    margin: 0;
    padding: 0;
}
.pgLog {
    background-color: #14213D;
}
.pg{
    margin-top: 30px;
}
:root{
    --colorBlue: #14213D;
    --colorBgPrimary: #E0DFD5;
    --colorOrange: #FCA311;
    --colorOrangeRed: #F06543;
    --colorGrey: #E5E5E5;
    --colorGrey1: #D9D9D9;

    --colorWhite: #dbdbdb;

}
.color-red{
    color:red !important;
}
.color-white{
    color: var(--colorWhite);
}
.bg-bleu{
    background-color: var(--colorBlue);
}
.bg-primary{
    /* background-color: var(--colorBgPrimary) !important; */
    background-color: #424242 !important;
}
.color-orange{
    color: var(--colorOrange);
}
.color-orangeRed{
    color: var(--colorOrangeRed);
}
.color-grey{
    color: var(--colorGrey);
}
.color-grey1{
    color: var(--colorGrey1);
}

.flex-center{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-center-column{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-center-space-evenly{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.btn:hover{
    color: var(--colorWhite) !important;
}
header{
    min-height: 6em;
}
header a{
    color: var(--colorWhite);
    font-size: 18px;
    margin: 12px;
}
.link{
    text-decoration: none;
    color: var(--colorWhite);
}
.link:hover{
    color: var(--colorOrange);
}
.active{
    color: var(--colorOrange) !important;
}
.btt-plateform{
    width: 300px;
    padding: 12px;
}
.btt-plateform a{
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;

    text-decoration: none;

}
.btt-plateform a:hover{
    
    color: var(--colorOrange);
    

}
.indication-solde{
    padding: 12px;
    border-radius: 20px;
    /* width: 10em; */
    margin-top: 20px;
}
.indication{
    padding: 12px;
    border-radius: 20px;
    width: 50em;
    margin-top: 20px;
}
.card{
    margin-top: 20px;
}
table{
    margin-top: 20px;
}
.petite-pg{
    width: 100vw;
    height: 100vh;
}
.add_mission-panel{
    background-color: #424242;
    height: 100%;
    padding: 20px;
    color: var(--colorWhite);
    margin-top: 30px;
    border-radius: 30px;
    width: 60%;
}
.bbt-valider{
    padding: 12px;
    background-color: var(--colorBlue);
    color: var(--colorOrange);
    width: 400px;
    border-radius: 40px;
    margin-top: 20px;
}
.bbt-valider:hover{
    color: var(--colorOrangeRed)
}

.mt-12{
    margin-top: 12px;
}
.edit-profil{
    padding: 12px;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    width: 100%;
}
.edit-profil input{
    width: 100%;
}
.h2{
    font-size: 22px;
    padding: 20px;
}